/* Style the TinyMCE instance when it has validation error */
.is-invalid + .tox-tinymce {
    border-color: #dc3545; /* Set border color */
    border-width: 1px; /* Set border width to match Laravel's default */
}

/* Style the error message */
.invalid-feedback {
    color: #dc3545; /* Set error message color */
}

/* Custom styling for Select2 */
.select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #337ab7; /* Set the background color */
    color: #fff; /* Set the text color */
    border: 1px solid #204d74; /* Set the border color */
}

/* Style the close button in each selected value */
.select2-container
    .select2-selection--multiple
    .select2-selection__choice__remove {
    color: #fff; /* Set the close button color */
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer; /* Change cursor to pointer on hover */
}

/* Add this CSS to your stylesheet or within a <style> tag in your HTML file */

/* .badge-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.badge {
    flex: 1 1 auto;
    text-align: center;
} */

.custom-badge {
    background-color: #007bff; /* Primary color */
    color: #fff; /* White text */
    padding: 0.3em 0.5em; /* Padding for better spacing */
    border-radius: 0.25em; /* Rounded corners */
    margin: 0.25em; /* Spacing between badges */
    font-size: 0.875em; /* Slightly smaller font size */
    font-weight: 600; /* Semi-bold text */
    display: block; /* Ensure width adjusts to text content */
    transition: background-color 0.3s ease, color 0.3s ease;
    white-space: nowrap;
}

.custom-badge:hover {
    background-color: #0056b3; /* Darker shade on hover */
    color: #e6e6e6; /* Light grey text on hover */
}

.badge-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}
